body{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif
}
span{
    color: tomato;
}
p{

}
h2{
    font-size: 40px;
}
.donate-button {
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 500;
}
.header{
    background-image: url(images/donation12.png);
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
.header-title {
    text-align: center;
    width:100%;
    height: 600px;
    color: white;
    background:rgba(0,0,0,0.4);

}
.header-title h1 {
    font-size: 70px;
    margin-top: 0px;
    padding-top: 100px;
}
.header-title p {
    line-height: 40px;
}
/* Donate today start here */
.donate-today{}
.donate-title{
    text-align: center;
    
}
.donate-amount{
    display: flex;
    width:80%;
    margin-left: 20%;
}

.donate-amount-money {
    width: 140px;
    height: 116px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
}
.tomato-color{
    background:rgba(168, 44, 22, 0.527);
    border: 2px solid tomato;
    color: rgba(133, 38, 21, 0.568);
}
.black-color{
    background: rgba(85, 68, 65, 0.253);;
}
/* Donate today end here */
