body{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif
}
section{
    margin-bottom: 80px;
}
span{
    color: tomato;
}
p{
    color: #5c5050;
    font-size: 20px;
    line-height: 40px;
}
h2{
    font-size: 40px;
}
.donate-button {
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 500;
}
.header{
    background-image: url(images/donation12.png);
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
.header-title {
    text-align: center;
    width:100%;
    height: 600px;
    color: white;
    background:rgba(0,0,0,0.4);

}
.header-title h1 {
    font-size: 70px;
    margin-top: 0px;
    padding-top: 100px;
}
.header-title p {
    color: white;
    margin-bottom: 30px;
}
/* Donate today start here */
.donate-today{}
.donate-title{
    text-align: center;
    
}
.donate-amount{
    display: flex;
    width:80%;
    margin-left: 20%;
}

.donate-amount-money {
    width: 140px;
    height: 116px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
}
.tomato-color{
    background:rgba(168, 44, 22, 0.527);
    border: 2px solid tomato;
    color: rgba(133, 38, 21, 0.568);
}
.black-color{
    background: rgba(85, 68, 65, 0.253);;
}
.donate-other-amount{
    text-align: center;
}
.donate-other-amount hr{
    width:50%;
    margin-bottom: 40px;
    
}
#button-donate{
    margin-left: 45%;
}
.donate-plan-items {
    display: flex;
    justify-content: center;
}
.donate-cards{
   width: 25%;
   margin:20px;
   padding:40px 20px;
   border-radius:8px;;
}
.donate-cards img{
    width: 50px;
}
#donate-blood{
    background-color: #5f68705d;
}
#donate-bus{
    background-color: #3c5a408f;
}
#donate-cloth{
    background-color: #74427588;
}
.donate-cards h3{
    font-size: 25px;
}


/* Donate today end here */
